# Node / TypeScript
**/node_modules/
**/dist/
**/.next/
*.tsbuildinfo

# Kotlin / Gradle
**/.gradle/
**/build/
**/target/
*.class
*.jar

# Bruno
**/*.env
**/bruno.json.user

# PHP / Laravel
**/vendor/
**/storage/*.key
.phpunit.result.cache

# IDEs & OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db